/*=============== BUTTON ===============*/
.button{
   background-color: hsla(0, 0%, 100%, .2);
   padding: 1.25rem 1.5rem;
   color: var(--title-color);
   display: inline-flex;
   align-items: center;
   column-gap: .5rem;
   font-family: var(--second-font);
   font-weight: var(--font-semi-bold);
   backdrop-filter: blur(24px);
   -webkit-backdrop-filter: blur(24px); // For safari

   & i{
      font-size: 1.25rem;
      transition: transform .4s;
      font-weight: initial;
   }
   &:hover i{
      transform: translateX(.25rem);
   }
}