/*=============== POPULAR ===============*/
.popular{
   &__container{
      padding-top: 1.5rem;
      grid-template-columns: 240px;
      justify-content: center;
      row-gap: 2.5rem;
   }
   &__image{
      position: relative;
      overflow: hidden;
      margin-bottom: 1rem;
   }
   &__img{
      transition: transform .4s;
   }
   &__image:hover .popular__img{
      transform: scale(1.2);
   }
   &__shadow{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--shadow-gradient);
   }
   &__title{
      font-size: var(--h3-font-size);
      margin-bottom: .5rem;
   }
   &__location{
      display: inline-flex;
      align-items: center;
      column-gap: .25rem;
      font-size: var(--small-font-size);
      font-family: var(--second-font);
      font-weight: 500;

      & i{
         font-size: 1rem;
      }
   }
}