/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
   width: .6rem;
   border-radius: .5rem;
   background-color: hsla(0, 0%, 10%);
   
   &-thumb{
      background-color: hsla(0, 0%, 20%);
      border-radius: .5rem;
      
      &:hover{
         background-color: hsla(0, 0%, 30%);
      }
   }
}

/*=============== SCROLL UP ===============*/
.scrollup{
   position: fixed;
   right: 1rem;
   bottom: -50%;
   background-color: hsla(0, 0%, 100%, .1);
   padding: 6px;
   display: inline-flex;
   color: var(--title-color);
   font-size: 1.25rem;
   backdrop-filter: blur(24px);
   -webkit-backdrop-filter: blur(24px);  /* For safari */ 
   z-index: var(--z-tooltip);
   transition: bottom .4s, transform .4s;

   &:hover{
      transform: translateY(-.25rem);
   }
}

/* Show Scroll Up */
.show-scroll{
   bottom: 3rem;
}